#------------------------------------------------------------------------------
# Author: Deebendu Kumar
# Created: 17-10-2023
# Copyright 2023 by Espire Infolabs
#------------------------------------------------------------------------------
version: '3'
services:
  redis:
    image: redis:alpine
    container_name: redis
    restart: unless-stopped
    hostname: redis
    ports:
      - 6379:6379/tcp
    volumes:
      - /opt/redis/data:/data
      - /opt/redis/conf:/usr/local/etc/redis/redis.conf
    networks:
      - portainer

  redis_insight:
    image: redislabs/redisinsight:latest
    container_name: redis_insight
    restart: always
    ports:
      - 8001:8001
    volumes:
      - /opt/redis/insight:/db
    networks:
      - portainer

networks:
  portainer:
    name: portainer
    external: true